[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nonLinearDotPlot"]
	path = nonLinearDotPlot
	url = https://github.com/cran/nonLinearDotPlot
